<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If not an existing file or directory
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redirect to index.html to let JavaScript handle routing
  RewriteRule ^(.*)$ index.html [L]
</IfModule>