<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Jangan rewrite jika file atau direktori ada
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Rewrite untuk URL tanpa ekstensi ke file .html
  RewriteRule ^([^\.]+)$ $1.html [NC,L]
  
  # Redirect /index.html ke root
  RewriteRule ^index\.html$ / [R=301,L]
</IfModule>